body{
    background-color: #99B2DD;
    background-size: cover;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5E548E;
    border-radius: 30px;
    margin: 70px 400px 10px 400px;
    padding: 50px;
}
.lock-icon{
    font-size: 80px;
    color:#512D38;
}
.container h2{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: #003049;
}
.container p{
    font-size: 20px;
    padding-bottom: 20px;
    color: #780000;
}
.container input{
    background-color: #FFE9F3;
    border: 1px solid brown;
    border-radius: 20px;
    padding: 15px 50px;
}
.container button{
    font-size: 20px;
    background-color: #5E548E;
    border: 1px solid brown;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 50px;
    cursor: pointer;
}
.container button a{
    text-decoration: none;
    color: #FFE9F3;
}