body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color:#F0EAD2;
}
.signup-logo img{
    width: 200px;
    padding: 10px;
}
.content{
    display: flex;
    justify-content: center;
}
.signup-displayimg img{
    width: 500px;
    height: auto;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
#signup form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#signup {
    padding: 0px 0px 10px 40px;
}
#signup h2{
    font-size: 50px;
}
#signup p{
    color:black;
}
.form input{
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #54311A;
    border-radius: 50px;
    text-decoration: none;
}
.form button{
    padding: 15px;
    border-radius: 50px;
    background-color:#3D314A;
    color: #F0EAD2;
    font-size: 16px;
    transition: ease-in 0.3s;
}
.button:hover{
    /* background-color: #FF4500 ; */
    background-color: #EDE0D4;
    color: #3D314A;
}
.forgot-login button{
    background-color: #A1C6EA ;
    border: 1px solid #54311A;
    padding: 10px;
}
.forgot-login a{
    text-decoration: none;
}

/* medai query */

@media only screen and (max-width:480px) {
       
}

